@model Category


<form asp-action="Edit">

    <div class="mb-3">
        <label asp-for="Id" class="form-label"></label>
        <input class="form-control" asp-for="Id" disabled>
    </div>

    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input class="form-control" asp-for="Name">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a class="btn btn-success" asp-action="Index">Cancle</a>

</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}